<h1>This is a test page!</h1>
<%= for user_id <- @redis_get do %>
  <p><%= user_id %></p>
<% end %>
<script src="<%= static_path(@conn, "/js/test_socket.js") %>"></script>
<script>require("web/static/js/test_room/test_socket")</script>
